<a href="https://colab.research.google.com/github/thayseps/manipstr/blob/main/projeto_final_olympics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Pirando na batatinha')

Projeto final com os jogos Olimpicos de ver√£o de 2012
Autora: Thayse Pereira dos Santos
Data: 12 de fevereiro de 2023

In [1]:
import pandas as pd

#lendo a planilha
olympics_df = pd.read_excel('olympics7ago.xlsx')

In [3]:
display(olympics_df.head(10))

,Trigram,Country,Year,Event,Rank,Athlete,Gender,Age,Sport,Gold,Silver,Bronze,Total,Athlete_unique_url
0,AFG,Afghanistan,2012,Summer,1,"Nikpai,Rohullah",Male,25,Taekwondo,0,0,1,1,/olympics/athletes/ni/rohullah-nikpai-1.html
1,AFG,Afghanistan,2012,Summer,2,"Azizi,Masoud",Male,27,Athletics,0,0,0,0,/olympics/athletes/az/masoud-azizi-1.html
2,AFG,Afghanistan,2012,Summer,3,"Bahawi,Nesar Ahmad",Male,28,Taekwondo,0,0,0,0,/olympics/athletes/ba/nesar-ahmad-bahawi-1.html
3,AFG,Afghanistan,2012,Summer,4,"Faisal,Ajmal",Male,21,Boxing,0,0,0,0,/olympics/athletes/fa/ajmal-faisal-1.html
4,AFG,Afghanistan,2012,Summer,5,"Faizzada,Ajmal",Male,25,Judo,0,0,0,0,/olympics/athletes/fa/ajmal-faizzada-1.html
5,AFG,Afghanistan,2012,Summer,6,"Kohistani,Tahmina",Female,23,Athletics,0,0,0,0,/olympics/athletes/ko/tahmina-kohistani-1.html
6,AFG,Afghanistan,2008,Summer,1,"Nikpai,Rohullah",Male,21,Taekwondo,0,0,1,1,/olympics/athletes/ni/rohullah-nikpai-1.html
7,AFG,Afghanistan,2008,Summer,2,"Azizi,Masoud",Male,23,Athletics,0,0,0,0,/olympics/athletes/az/masoud-azizi-1.html
8,AFG,Afghanistan,2008,Summer,3,"Bahawi,Nesar Ahmad",Male,24,Taekwondo,0,0,0,0,/olympics/athletes/ba/nesar-ahmad-bahawi-1.html
9,AFG,Afghanistan,2008,Summer,4,"Yaar,Robina Muqim",Female,22,Athletics,0,0,0,0,/olympics/athletes/ya/robina-muqim-yaar-1.html

In [4]:
print(olympics_df.info)

<bound method DataFrame.info of        Trigram      Country  Year   Event  Rank               Athlete  Gender  \
0          AFG  Afghanistan  2012  Summer     1       Nikpai,Rohullah    Male
1          AFG  Afghanistan  2012  Summer     2          Azizi,Masoud    Male
2          AFG  Afghanistan  2012  Summer     3    Bahawi,Nesar Ahmad    Male
3          AFG  Afghanistan  2012  Summer     4          Faisal,Ajmal    Male
4          AFG  Afghanistan  2012  Summer     5        Faizzada,Ajmal    Male
...        ...          ...   ...     ...   ...                   ...     ...
176261     ZIM     Zimbabwe  1964  Summer    27         Unger,Anthony    Male
176262     ZIM     Zimbabwe  1964  Summer    28  van Blomestein,Kevin    Male
176263     ZIM     Zimbabwe  1964  Summer    29            Wood,Jenny  Female
176264     ZIM     Zimbabwe  1928  Summer     1         Bissett,Cecil    Male
176265     ZIM     Zimbabwe  1928  Summer     2              Hall,Len    Male

         Age      Sport  Gold  Silver  Bronze  Total  \
0         25  Taekwondo     0       0       1      1
1         27  Athletics     0       0       0      0
2         28  Taekwondo     0       0       0      0
3         21     Boxing     0       0       0      0
4         25       Judo     0       0       0      0
...      ...        ...   ...     ...     ...    ...
176261    26     Hockey     0       0       0      0
176262    29     Hockey     0       0       0      0
176263    16   Swimming     0       0       0      0
176264  None     Boxing     0       0       0      0
176265  None     Boxing     0       0       0      0

                                       Athlete_unique_url
0            /olympics/athletes/ni/rohullah-nikpai-1.html
1               /olympics/athletes/az/masoud-azizi-1.html
2         /olympics/athletes/ba/nesar-ahmad-bahawi-1.html
3               /olympics/athletes/fa/ajmal-faisal-1.html
4             /olympics/athletes/fa/ajmal-faizzada-1.html
...                                                   ...
176261         /olympics/athletes/un/anthony-unger-1.html
176262  /olympics/athletes/va/kevin-van-blomestein-1.html
176263            /olympics/athletes/wo/jenny-wood-1.html
176264         /olympics/athletes/bi/cecil-bissett-1.html
176265              /olympics/athletes/ha/len-hall-1.html

[176266 rows x 14 columns]>

In [18]:
#s√≥ Brasil

brasiltotal_df = olympics_df.loc[olympics_df['Country'] == 'Brazil']
display(brasiltotal_df)

,Trigram,Country,Year,Event,Rank,Athlete,Gender,Age,Sport,Gold,Silver,Bronze,Total,Athlete_unique_url
16859,BRA,Brazil,2014,Winter,1,"Bindilatti,Edson",Male,34,Bobsleigh,0,0,0,0,/olympics/athletes/bi/edson-bindilatti-1.html
16860,BRA,Brazil,2014,Winter,2,"Clark,Isabel",Female,37,Snowboarding,0,0,0,0,/olympics/athletes/cl/isabel-clark-1.html
16861,BRA,Brazil,2014,Winter,3,"da Silva,Sally",Female,26,Bobsleigh,0,0,0,0,/olympics/athletes/da/sally-da-silva-1.html
16862,BRA,Brazil,2014,Winter,4,"dos Santos,Fabiana",Female,30,Bobsleigh,0,0,0,0,/olympics/athletes/do/fabiana-dos-santos-1.html
16863,BRA,Brazil,2014,Winter,5,"dos Santos,Josi",Female,29,Freestyle Skiing,0,0,0,0,/olympics/athletes/do/josi-dos-santos-1.html
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19420,BRA,Brazil,1920,Summer,16,"Peixoto,Demerval",Male,35,Shooting,0,0,0,0,/olympics/athletes/pe/demerval-peixoto-1.html
19421,BRA,Brazil,1920,Summer,17,"Saliture,Abrahao",Male,None,None,0,0,0,0,/olympics/athletes/sa/abrahao-saliture-1.html
19422,BRA,Brazil,1920,Summer,18,"Veira,Alcides",Male,None,Rowing,0,0,0,0,/olympics/athletes/ve/alcides-veira-1.html
19423,BRA,Brazil,1920,Summer,19,"Wellisch,Adolpho",Male,None,Diving,0,0,0,0,/olympics/athletes/we/adolpho-wellisch-1.html
19424,BRA,Brazil,1900,Summer,1,"Klingelhoeffer,Adolphe",Male,20,Athletics,0,0,0,0,/olympics/athletes/kl/adolphe-klingelhoeffer-1...

In [21]:
#s√≥ atletas do v√¥lei
voleibr_df = brasiltotal_df.loc[brasiltotal_df['Sport'] == 'Volleyball']
display(voleibr_df)

,Trigram,Country,Year,Event,Rank,Athlete,Gender,Age,Sport,Gold,Silver,Bronze,Total,Athlete_unique_url
16872,BRA,Brazil,2012,Summer,1,Adenizia,Female,25,Volleyball,1,0,0,1,/olympics/athletes/ad/adenizia-1.html
16873,BRA,Brazil,2012,Summer,2,Fabi,Female,32,Volleyball,1,0,0,1,/olympics/athletes/fa/fabi-1.html
16874,BRA,Brazil,2012,Summer,3,Fabiana,Female,27,Volleyball,1,0,0,1,/olympics/athletes/fa/fabiana-1.html
16875,BRA,Brazil,2012,Summer,4,Fernandinha,Female,32,Volleyball,1,0,0,1,/olympics/athletes/fe/fernandinha-1.html
16876,BRA,Brazil,2012,Summer,5,"Garay,Fernanda",Female,26,Volleyball,1,0,0,1,/olympics/athletes/ga/fernanda-garay-1.html
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18949,BRA,Brazil,1964,Summer,36,"Franca,Joao",Male,21,Volleyball,0,0,0,0,/olympics/athletes/fr/joao-franca-1.html
18957,BRA,Brazil,1964,Summer,44,"Newdon,Emanuel",Male,26,Volleyball,0,0,0,0,/olympics/athletes/ne/emanuel-newdon-1.html
18959,BRA,Brazil,1964,Summer,46,"Nuzman,Carlos",Male,22,Volleyball,0,0,0,0,/olympics/athletes/nu/carlos-nuzman-1.html
18963,BRA,Brazil,1964,Summer,50,"Ramalho,Jose",Male,27,Volleyball,0,0,0,0,/olympics/athletes/ra/jose-ramalho-2.html
18970,BRA,Brazil,1964,Summer,57,"Volpi,Marco Antonio",Male,21,Volleyball,0,0,0,0,/olympics/athletes/vo/marco-antonio-volpi-1.html

In [27]:
#time fem
voleifem_df = voleibr_df.loc[voleibr_df['Gender'] == 'Female']
display(voleifem_df.head(14))

,Trigram,Country,Year,Event,Rank,Athlete,Gender,Age,Sport,Gold,Silver,Bronze,Total,Athlete_unique_url
16872,BRA,Brazil,2012,Summer,1,Adenizia,Female,25,Volleyball,1,0,0,1,/olympics/athletes/ad/adenizia-1.html
16873,BRA,Brazil,2012,Summer,2,Fabi,Female,32,Volleyball,1,0,0,1,/olympics/athletes/fa/fabi-1.html
16874,BRA,Brazil,2012,Summer,3,Fabiana,Female,27,Volleyball,1,0,0,1,/olympics/athletes/fa/fabiana-1.html
16875,BRA,Brazil,2012,Summer,4,Fernandinha,Female,32,Volleyball,1,0,0,1,/olympics/athletes/fe/fernandinha-1.html
16876,BRA,Brazil,2012,Summer,5,"Garay,Fernanda",Female,26,Volleyball,1,0,0,1,/olympics/athletes/ga/fernanda-garay-1.html
16877,BRA,Brazil,2012,Summer,6,Jaque,Female,28,Volleyball,1,0,0,1,/olympics/athletes/ja/jaque-1.html
16878,BRA,Brazil,2012,Summer,7,"Lins,Dani",Female,27,Volleyball,1,0,0,1,/olympics/athletes/li/dani-lins-1.html
16880,BRA,Brazil,2012,Summer,9,Natalia,Female,23,Volleyball,1,0,0,1,/olympics/athletes/na/natalia-1.html
16881,BRA,Brazil,2012,Summer,10,Paula,Female,30,Volleyball,1,0,0,1,/olympics/athletes/pa/paula-2.html
16882,BRA,Brazil,2012,Summer,11,Sheilla,Female,29,Volleyball,1,0,0,1,/olympics/athletes/sh/sheilla-1.html
16883,BRA,Brazil,2012,Summer,12,Tandara,Female,23,Volleyball,1,0,0,1,/olympics/athletes/ta/tandara-1.html
16884,BRA,Brazil,2012,Summer,13,Thaisa,Female,25,Volleyball,1,0,0,1,/olympics/athletes/th/thaisa-1.html
17126,BRA,Brazil,2008,Summer,2,Carol,Female,31,Volleyball,1,0,0,1,/olympics/athletes/ca/carol-1.html
17127,BRA,Brazil,2008,Summer,3,Fabi,Female,28,Volleyball,1,0,0,1,/olympics/athletes/fa/fabi-1.html

In [29]:
#time masc
voleimasc_df = voleibr_df.loc[voleibr_df['Gender'] == 'Male']
display(voleimasc_df.head(14))

,Trigram,Country,Year,Event,Rank,Athlete,Gender,Age,Sport,Gold,Silver,Bronze,Total,Athlete_unique_url
16888,BRA,Brazil,2012,Summer,17,"Alves,Thiago",Male,25,Volleyball,0,1,0,1,/olympics/athletes/al/thiago-alves-1.html
16889,BRA,Brazil,2012,Summer,18,Bruninho,Male,26,Volleyball,0,1,0,1,/olympics/athletes/br/bruninho-1.html
16893,BRA,Brazil,2012,Summer,22,Dante,Male,31,Volleyball,0,1,0,1,/olympics/athletes/da/dante-1.html
16895,BRA,Brazil,2012,Summer,24,Escadinha,Male,36,Volleyball,0,1,0,1,/olympics/athletes/es/escadinha-1.html
16899,BRA,Brazil,2012,Summer,28,Giba,Male,35,Volleyball,0,1,0,1,/olympics/athletes/gi/giba-1.html
16904,BRA,Brazil,2012,Summer,33,Murilo,Male,31,Volleyball,0,1,0,1,/olympics/athletes/mu/murilo-1.html
16906,BRA,Brazil,2012,Summer,35,"Neves,Leandro",Male,29,Volleyball,0,1,0,1,/olympics/athletes/ne/leandro-neves-1.html
16911,BRA,Brazil,2012,Summer,40,Ricardinho,Male,36,Volleyball,0,1,0,1,/olympics/athletes/ri/ricardinho-1.html
16912,BRA,Brazil,2012,Summer,41,Rodrigao,Male,33,Volleyball,0,1,0,1,/olympics/athletes/ro/rodrigao-1.html
16914,BRA,Brazil,2012,Summer,43,"Saatkamp,Lucas",Male,26,Volleyball,0,1,0,1,/olympics/athletes/sa/lucas-saatkamp-1.html
16916,BRA,Brazil,2012,Summer,45,Sidao,Male,30,Volleyball,0,1,0,1,/olympics/athletes/si/sidao-1.html
16919,BRA,Brazil,2012,Summer,48,Wallace,Male,25,Volleyball,0,1,0,1,/olympics/athletes/wa/wallace-1.html
17139,BRA,Brazil,2008,Summer,15,Anderson,Male,34,Volleyball,0,1,0,1,/olympics/athletes/an/anderson-1.html
17142,BRA,Brazil,2008,Summer,18,Bruninho,Male,22,Volleyball,0,1,0,1,/olympics/athletes/br/bruninho-1.html